.form-group
  label(for="fullname") Item name
  input#fullname.form-control(name="fullname", type="text", value=item.name)
.form-group
  label(for="qty") Quantity
  input#qty.form-control(name="qty", type="number", value=item.qty)
.form-group
  label(for="price") Unit price
  input#price.form-control(name="price", type="number", value=item.price)
.form-group
  label(for="brand") Brand name
  input#brand.form-control(name="brand", type="text", value=item.brand)